/* Style the calculator-container */
#calculator-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
    background-color: #a9a9a9;
    padding: 1em;
}